{% extends 'admin_base.html.twig' %}

{% block body %}
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <p class="h5">Category</p>
      </div>
{% if id is defined and id is not empty%}
    <p><code>id: {{ id }}</code></p>
{% endif %}
{{ form_start(form) }}
    <div id="category">
        <div class="form-errors">
            {{ form_errors(form) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.name) }}
            <div class="col-sm-4">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.description) }}
            <div class="col-sm-4">
                {{ form_widget(form.description) }}
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}