{% extends 'base.html.twig' %} 
{% block body %}

<form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" value="{% if searchQuery is defined and searchQuery is not empty%}{{ searchQuery }}{% endif %}" type="text" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"">Search</button>
</form>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <p class="h5">Items</p>
      </div>
{% block section %} 
 
<p><a href="{{ path('admin_item', {id: ''}) }}"><button type="button" class="btn btn-info">Create new item</button></a></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Year</th>
      <th scope="col">Format</th>
      <th scope="col">Author</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
{% for row in pagination %} 
    <tr>
      <td>{{ row.name }}</td>
      <td>{{ row.year }}</td>
      <td>{{ row.format }}</td>
      <td>{{ row.author }}</td>
      <td>
      <a href="{{ path('admin_item', {id: row.id}) }}"><button type="button" class="btn btn-success">Edit</button></a> 
      <a href="{{ path('admin_delete_item', {id: row.id}) }}"><button type="button" class="btn btn-danger">Delete</button></a>
      <a href="{{ path('admin_loan', {'i': row.id.toString}) }}"><button type="button" class="btn btn-link">Loan</button></a>
      </td>
    </tr>
{% endfor %} 
  </tbody>
</table>
 
<div class="navigation"> 
{{ knp_pagination_render(pagination) }} 
</div> 
 
{% endblock %}
{% endblock %}